/*
1	flexbox					display , flex-direction , justify-content , align-items
2	grid 					display , direction "rows" "columns" , repeat($row) , ($fr + fr)
3	border					radius, px , solid , color
4	position				position , inset: top right bottom left
5	font 					font-size , color , font-family , text-transform
6	text-overflow 			line-clamp
7	width 					width , height
8	max-width  				max-width , max-height
9	min-width				min-width , min-height
10	pointer 				cursor , user-select , pointer-events
11	media-breakpoint-up 	xs , sm , md , lg , xl , xxl
*/

@mixin flexbox($display, $direction, $justify, $align){
    display: $display; flex-direction: $direction;
    justify-content: $justify; align-items: $align; 
}

@mixin grid($display, $direction, $row, $fr){
	display: $display;

	@if $direction == "rows"{
		grid-template-rows: repeat($row, $fr);
	}
	@if $direction == "columns"{
		grid-template-columns: repeat($row, $fr);
	}
}

@mixin border($radius, $px, $solid, $color){
	border-radius: $radius;
	border: $px $solid $color; 
}

@mixin position($position, $top, $left, $bottom, $right){
	position: $position; 
	inset: $top $right $bottom $left; 
}

@mixin font($fontsize, $fontcolor, $fontfamily, $texttransform){
	font-size: $fontsize; color: $fontcolor;
	font-family: $fontfamily; text-transform: $texttransform; 
}

@mixin text-overflow($lines) {
	display: -webkit-inline-box; -webkit-line-clamp: $lines; 
	-webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; 
}

@mixin width($width, $height){
	width: $width; 
	height: $height; 
}

@mixin max-width($max-width, $max-height){
	max-width: $max-width;
	max-height: $max-height;
}

@mixin min-width($min-width, $min-height){
	min-width: $min-width;
	min-height: $min-height;
}

@mixin pointer($cursor, $user-select, $pointer){
	cursor: $cursor; // hover
	user-select: $user-select; // not allow select , highlight/coppy
	pointer-events: $pointer; // disable click 
}

@mixin media-breakpoint-up($value) {
	@if $value == "xs" { @media screen and (max-width: $xs-min) { @content; } }
	@if $value == "sm" { @media screen and (max-width: $sm-min) { @content; } }
	@if $value == "md" { @media screen and (max-width: $md-min) { @content; } }
	@if $value == "lg" { @media screen and (max-width: $lg-min) { @content; } }
	@if $value == "xl" { @media screen and (max-width: $xl-min) { @content; } }
	@if $value == "xxl" { @media screen and (max-width: $xxl-min) { @content; } }
}