//text color

//background color

// :root{}


$container-width: 1440px;
$container-max-width: 100%;

$xs-min: 320px; // Small Mobile 
$sm-min: 576px; // Large Mobile

$md-min: 768px; // Tablet
$lg-min: 992px; // Large Tablet

$xl-min: 1024px; // Large Desktop
$xxl-min: 1400px; // Large Desktop

$xs-max: ($xs-min - 1);
$sm-max: ($sm-min - 1);
$md-max: ($md-min - 1); 
$lg-max: ($lg-min - 1); 
$xl-max: ($xl-min - 1);
$xxl-max: ($xxl-min - 1); 